body {
	margin: 0;
	padding: 0;
	background-color: #F8F8F8;
}

.twogrid .gridElem .overlay {
	position: absolute;
	width: 100%;
	height: 4.9rem;
	transition: 0.2s;
	bottom: 0;
	background-color: #FFFD;
	overflow: hidden;
}

.trigrid .gridElem .overlay {
	position: absolute;
	width: 100%;
	height: 4.9rem;
	transition: 0.2s;
	bottom: 0;
	background-color: #FFFD;
	overflow: hidden;
}

.gridElem .overlay div {
	position: absolute;
	width: 100%;
	height: 0.2rem;
	top: 0;
	transition: 0.2s;
	background-color: #609;
}

.gridElem .image {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.5s;
}

.gridElem .overlay h4 {
	position: absolute;
	top: 0.6rem;
	left: 1rem;
	transition: 0.2s;
}

.gridElem .overlay h3 {
	position: absolute;
	top: 0.2rem;
	font-size: 1.1rem;
	left: 1rem;
	transition: 0.2s;
}

.twogrid .gridElem .overlay p {
	position: absolute;
	margin: 0;
	top: 3rem;
	left: 1rem;
}

.trigrid .gridElem .overlay p {
	position: absolute;
	margin: 0;
	top: 3rem;
	left: 1rem;
}

.linkbutton {
	background-color: #609;
	color: #FFF;
	padding: 0.35rem 3rem 0.35rem 3rem;
	text-decoration: none;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: 0.1s;
	width: 12rem;
	margin: 0.3rem 0 0.3rem 0;
	flex-shrink: 0;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	margin: 0.3rem;
	font-weight: 300;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
	margin: 0.3rem 0rem 0.3rem 0rem;
	color: #609;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0.5rem 0rem 0.5rem 0rem;
	color: #609;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	margin: 0;
	color: #609;
}

a {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8rem;
}

#global {
	position: relative;
}

#header {
	margin: 0rem;
	padding: 1rem 0rem 0.5rem 0rem;
	background-color: #609;
	color: #FFF;
	
	#border-style: solid;
	#border-width: 1px;
	#border-color: #000;
}

#title {
	text-align: center;
	#border-style: solid;
	border-width: 1px;
	border-color: #000;
}

#ribbonContainer {
	background-color: #609;
	color: #FFF;
	position: sticky;
	top: 0%;
	#border-style: solid;
	border-width: 1px;
	border-color: #000;
	padding: 0.5rem;
	z-index: 20 !important;
}

#ribbonButtons {
	#border-style: solid;
	border-width: 1px;
	border-color: #000;
	width: fit-content;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
}

#mainPage {
	margin: 0rem 2rem 0rem 2rem;
	padding: 2rem;
	background-color: #FFF;
}

.twogrid {
	#overflow: hidden;
	#display: flex;
	#justify-content: space-between;
	margin: 1rem 0rem 2rem 0rem;
}

.twogrid .gridElem {
	height: 40vw;
}

.trigrid {
	#overflow: hidden;
	#display: flex;
	#justify-content: space-between;
	margin: 1rem 0rem 2rem 0rem;
}

.trigrid .gridElem {
	height: 40vw;
}

.ribbonButton {
	width: 6rem;
	height: 2rem;
	font-size: 1.2rem;
	position: relative;
	cursor: pointer;
}

.ribbonButton:hover .navHighlight {
	width: 100%;
	background-color: #FFFFFF;
}

.ribbonButton:hover .navHighlit {
	width: 100%;
}

.ribbonButton p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 100;
	color: #FFF;
	margin: 0;
}

.navHighlight {
	background-color: #fff;
	width: 0rem;
	height: 0.05rem;
	position: absolute;
	right: 50%;
	bottom: 0%;
	transform: translate(50%, 0);
	transition: 0.1s;
	background-color: #FFFFFF00;
}

.navHighlit {
	background-color: #fff;
	width: 80%;
	height: 0.05rem;
	position: absolute;
	right: 50%;
	bottom: 0%;
	transform: translate(50%, 0);
	transition: 0.1s;
	background-color: #FFCC33;
}

.gridElem {
	#width: 33%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	cursor:pointer;
	position: relative;
	overflow: hidden;
}

.linkButtonText {
	position: absolute;
	margin: 0;
	left: 2rem;
	top: 50%;
	transform: translate(0, -50%);
}
